<div id="home" class="panel-body" ng-controller="homeController">
  <section title="Save">
    <div class="form-group">
      <input class="text-field" type="text" id="nameSave" ng-model="candidate.name" placeholder="Nome ...">
      <input type="number" id="votes" min="0" ng-model="candidate.votes" placeholder="Votos ...">
      <input class="btn btn-link" type="button" id="saveButton" ng-click="saveCandidate()" value="Salvar">
    </div>
  </section>
</div>
<input class="btn btn-link" type="button" ng-click="listCandidates(); candidateDetail = null;" value="Load">
<div ng-show="candidateDetail == null" candidate-list></div>
<div ng-show="candidateDetail != null" ui-view="bla"></div>