<div class="panel-body">
    <input class="btn btn-info" type="button" ng-click="listCandidates();" value="Load">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>link</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in candidates">
            <td>{{ c.name }} <span class="badge">{{ c.votes }}</span></td>
            <td><a ui-sref="candidate({candidateid : c.id})" >details</a></td>
        </tr>
        </tbody>
    </table>
</div>